*{
    text-align: center;
    font-family: Georgia;
}

p{
    color: red;
    background-color: #964B00;
    line-height: 30px;
}
h1{
    color: #000;
    text-decoration: underline;
}
a{
    color: green;
    text-decoration: none;
}
button{
    background-color: ffffff;
    color: blueviolet;
}
textarea{
    color: #000000;
}